{{ lower_case_model }}:
    model: {{ model_name }}
    endpoints:
      - api_base: {{ api_base }}
        api_key: {{ api_key }}
    api_type: {{ api_type }}
    max_tokens: {{ max_tokens }}
    parallel: 50
    {% if api_key == "'-'" %}
    temperature: 0.0
    {% endif %}
