{{ lower_case_model }}:
    model: {{ model_name }}
    endpoints:
      - api_base: {{ api_base }}
        api_key: {{ api_key }}
    api_type: openai
    temperature: 0.6
    end_think_token: "</think>"
    max_tokens: {{ max_tokens }}
    parallel: 1

